@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Luckiest+Guy&family=Permanent+Marker&display=swap");

body {
  background-color: black;
  color: rgb(241, 241, 241);
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

.App {
  height: 100vh;
}
.navbar {
  font-size: 1em;
  background-color: black;
}

.nav-anchors {
  font-family: "Luckiest Guy", cursive;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 red;
  color: #60656f;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
}

.nav-anchors:hover {
  box-shadow: inset 350px 0 0 0 rgba(255, 8, 0, 0.63);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: aliceblue;
}

.social-links {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: right;
}

.social-links svg {
  margin: 0rem 0.5rem;
}

.social-links svg:hover {
  background-color: #fffcfc;
  border-radius: 10px;
}

.social-links-mob {
  display: none;
}

.nav-links {
  margin: auto;
  max-width: 1024px;
  border-style: solid;
  border-width: 2px 0px;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  margin: auto;
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
  background-size: cover;
}

.logo-container img {
  opacity: 0.8;
  width: 20%;
  min-width: 300px;
  max-width: 400px;
  border-radius: 35%;
}

.burger-menu {
  display: none;
}

.home-container {
  color: #60656f;
  margin: 1rem auto;
  max-width: 1024px;
  border: 2px solid #60656f3b;
  border-radius: 20px;
}

.home-container :nth-child(4) {
  margin-bottom: 0;
}

.main-header {
  text-align: center;
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
  padding-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.main-foot {
  margin-top: 1rem;
  text-align: center;
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
  background-size: cover;
  border-radius: 20px;
}

.main-p-container {
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.04);
}

.main-p-container > p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  line-height: 2;
}

.calandar-container {
  text-align: center;
  margin-top: 2rem;
  color: #60656f;
  text-decoration: underline;
}

.calandar,
.map {
  width: 100%;
  max-width: 1024px;
  height: 75vh;
}

.instructor-container {
  position: relative;
  margin: 2rem auto;
  max-width: 1024px;
  border: 2px solid #60656f57;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.04);
}

.instructor-container img {
  display: block;
  margin: auto;
}

.instructor-title {
  color: #60656f;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
  background-size: cover;
}
.instructor-body {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  columns: 400px 2;
}

.instructor-body > p {
  line-height: 2;
  font-size: 0.9rem;
}

.location-container {
  text-align: center;
  margin-top: 2rem;
}

.location-container p {
  color: #c3c7ce;
  background-color: #75777a5c;
  font-size: xx-large;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1024px;
}

.slide-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  position: relative;
}

.prev,
.next {
  padding: 0px 1rem;
  color: rgba(255, 255, 255, 0.712);
  background-color: rgba(29, 28, 28, 0.541);
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  border-style: solid;
  border-radius: 25px;
}

.next {
  right: 1rem;
}

.prev {
  left: 1rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slide-container img {
  width: 100%;
  max-width: 750px;
  max-height: 100vh;
}

#photos {
  /* Prevent vertical gaps */
  margin: 2rem auto;
  max-width: 1024px;
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.numbertext {
  color: #f5e4e4;
  font-size: 1.5rem;
  position: absolute;
}

.contactpage-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper-armbar2.jpg");
  background-size: cover;
  max-width: 1024px;
  min-height: 800px;
  margin: auto;
}

.contact-head {
  color: #60656f;
  margin-bottom: 0;
  text-decoration: underline;
}

.contact-card {
  display: flex;
  min-width: fit-content;
  width: 100%;
  max-width: 1024px;
  backdrop-filter: blur(0.1rem);
  background-color: #60656f91;
  flex-direction: column;
  margin-top: 5%;
  padding: 10% 0;
}

.contact-card i {
  padding-right: 7px;
  font-size: xx-large;
}

.contact-info {
  font-family: "Bebas Neue", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper {
  display: flex;
  margin: 1rem auto;
  padding: 0;
  justify-content: center;
  max-width: 1024px;
}

.wrapper i {
  padding: 0px 10px;
}

.wrapper i:nth-child(1) {
  color: #4867aa;
  cursor: pointer;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(1):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.wrapper i:nth-child(2) {
  color: #d832a1;
  cursor: pointer;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(2):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

footer {
  padding: 1rem;
  background-color: #6c0000;
}

footer ul {
  display: flex;
  justify-content: center;
}
footer a {
  display: inline-block;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0 12px;
  position: relative;
}

footer a:not(:last-child)::after {
  content: "";
  border: 1px solid black;
  border-width: 1px 1px 0 0;
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
}

/* 
--------MEDIA QUERIES--------
*/

@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .slide-container img {
    min-width: 750px;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (max-width: 900px) {
  .navbar {
    position: relative;
  }

  .burger-opacity {
    background: no-repeat
      url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
    background-size: cover;
  }

  .burger-container {
    background-size: cover;
    background-color: #ffffff14;
    border-style: solid;
    border-width: 2px 0px;
    border-color: rgba(240, 248, 255, 0.308);
  }

  .burger-menu {
    border: none;
    width: 3rem;
    height: 3rem;
    background-color: rgba(252, 252, 252, 0);
    background-image: url("../src/images/icons8-menu-100.png");
    background-size: cover;
    display: block;
    margin: 0.5rem auto;
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .social-links {
    padding: 0;
  }

  .nav-links {
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin: 0;
    flex-direction: column;
    background-color: rgba(9, 8, 8, 0.57);
    backdrop-filter: blur(1rem);
    transition: opacity 350ms ease-in;
    transform: translateY(-500%);
  }

  .nav-links[data-visible="true"] {
    padding: 0;
    position: absolute;
    width: 100%;
    transform: translateY(0%);
    opacity: 1;
  }

  .nav-links[data-visible="true"] > a {
    text-decoration: underline;
    text-align: center;
  }

  .nav-links a {
    color: white;
  }

  .navbar a:hover {
    box-shadow: inset 100vw 0 0 0 rgba(255, 8, 0, 0.63);
  }

  .social-links {
    display: none;
  }

  .social-links-mob {
    margin-top: 1rem;
    position: absolute;
    display: block;
  }

  .social-links-mob a {
    padding: 0px 1rem;
  }

  .home-container {
    color: #60656f;
    margin: 1rem auto;
    max-width: 1024px;
    border: none;
  }

  .home-container > h1 {
    background-size: cover;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .main-p-container > p {
    font-size: 0.9rem;
    padding: 0 2rem;
    line-height: 2;
  }

  .calandar,
  .map {
    height: 50vh;
  }

  .instructor-title {
    font-size: 2rem;
  }

  .prev,
  .next {
    padding: 0px 0.7rem;
  }

  .contact-info {
    justify-content: right;
    padding-right: 8%;
  }
  footer {
    padding: 1rem 0.5rem;
  }

  .contact-footer {
    margin: 0;
  }
}

/* 
------------Utilities----------
*/
.flex-center {
  display: flex;
  justify-content: center;
}

/*   TESTING    */

.opac {
  opacity: 0.7;
}

.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 1em 1em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 80px;
  height: 80px;
  background-color: #f8f8f885;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

svg {
  fill: #000;
  width: 24px;
  height: 12px;
}

.max-w {
  max-width: 1024px;
}
