@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Cedarville+Cursive&family=Kanit:ital,wght@1,300&family=Lobster&family=Luckiest+Guy&family=Permanent+Marker&display=swap");

body {
  background-color: black;
}

.navbar {
  font-size: 1em;
  background-color: black;
}

.nav-anchors {
  font-family: "Luckiest Guy", cursive;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 red;
  color: #60656f;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
}

.nav-anchors:hover {
  box-shadow: inset 350px 0 0 0 rgba(255, 8, 0, 0.63);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: aliceblue;
}

.social-links {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: right;
}

.social-links svg {
  margin: 0rem 0.5rem;
}

.social-links svg:hover {
  background-color: #fffcfc;
  border-radius: 10px;
}

.social-links-mob {
  display: none;
}

.nav-links {
  margin: auto;
  max-width: 1024px;
  border-style: solid;
  border-width: 2px 0px;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  margin: auto;
  max-width: 1024px;
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
  background-size: cover;
}

.logo-container img {
  opacity: 0.8;
  width: 20%;
  min-width: 300px;
  max-width: 400px;
  border-radius: 35%;
}

.burger-menu {
  display: none;
}

.home-container {
  color: #60656f;
  background-color: #1f1d1d54;
  margin: auto;
  max-width: 1024px;
}

.home-container :nth-child(4) {
  margin-bottom: 0;
}

.main-header {
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.main-foot {
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
  background-size: cover;
}

.main-p-container > p {
  color: white;
  text-shadow: rgb(248, 58, 58) 1px 0 10px;
  font-size: 1.3rem;
  padding: 0 2rem;
  margin-bottom: 3rem;
  line-height: 2;
}

.calandar-container {
  margin-top: 2rem;
  color: #60656f;
}

.calandar,
.map {
  width: 75vw;
  height: 75vh;
}

.instructor-title {
  color: #60656f;
  font-size: 2.5rem;
  border: solid;
  margin-top: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 25px;
}
.instructor-body {
  border-radius: 20px;
  background-color: #1f1d1d54;
}

.instructor-body > p {
  text-shadow: rgb(248, 58, 58) 1px 0 10px;
  line-height: 2;
  font-size: 1rem;
}

.location-container {
  margin-top: 2rem;
}

.location-container p {
  margin-bottom: 2rem;
}

.slide-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  position: relative;
}

.prev,
.next {
  padding: 0px 1rem;
  color: rgba(255, 255, 255, 0.712);
  background-color: rgba(29, 28, 28, 0.541);
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  border-style: solid;
  border-radius: 25px;
}

.next {
  right: 1rem;
}

.prev {
  left: 1rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slide-container img {
  width: 100%;
  max-width: 750px;
  max-height: 100vh;
}

.numbertext {
  color: #f5e4e4;
  font-size: 1.5rem;
  position: absolute;
}

.contactpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat url("./images/Aesthetic-Black-Wallpaper-armbar2.jpg");
  background-size: cover;
  max-width: 1024px;
  margin: auto;
}

.contact-head {
  color: #60656f;
  margin-top: 2rem;
  font-family: "Luckiest Guy", cursive;
  text-decoration: underline;
}

.contact-card {
  display: flex;
  min-width: fit-content;
  width: 85vw;
  max-width: 700px;
  backdrop-filter: blur(0.1rem);
  background-color: #60656f91;
  flex-direction: column;
  margin-top: 5%;
  padding: 10% 0;
  border: 2px solid rgba(255, 255, 255, 0.363);
  border-radius: 15px;
}

.contact-info {
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper {
  display: flex;
  margin: 1rem auto;
  padding: 0;
  justify-content: center;
  max-width: 1024px;
}

i {
  padding: 0px 10px;
}

.wrapper i:nth-child(1) {
  color: #4867aa;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(1):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.wrapper i:nth-child(2) {
  color: #d832a1;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(2):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

/* 
--------MEDIA QUERIES--------
*/

@media (min-width: 800px) {
  .slide-container img {
    min-width: 750px;
  }
}
@media (max-width: 900px) {
  .navbar {
    position: relative;
  }

  .burger-opacity {
    background: no-repeat
      url("./images/Aesthetic-Black-Wallpaper13-1536x864.jpg");
    background-size: cover;
  }

  .burger-container {
    background-size: cover;
    background-color: #ffffff14;
    border-style: solid;
    border-width: 2px 0px;
    border-color: rgba(240, 248, 255, 0.308);
  }

  .burger-menu {
    border: none;
    width: 3rem;
    height: 3rem;
    background-color: rgba(252, 252, 252, 0);
    background-image: url("../src/images/icons8-menu-100.png");
    background-size: cover;
    display: block;
    margin: 0.5rem auto;
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .social-links {
    padding: 0;
  }

  .nav-links {
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin: 0;
    flex-direction: column;
    background-color: rgba(9, 8, 8, 0.57);
    backdrop-filter: blur(1rem);
    transition: opacity 350ms ease-in;
    transform: translateY(-500%);
  }

  .nav-links[data-visible="true"] {
    position: absolute;
    width: 100%;
    transform: translateY(0%);
    opacity: 1;
  }

  .nav-links[data-visible="true"] > a {
    text-decoration: underline;
  }

  .nav-links a {
    color: white;
  }

  .navbar a:hover {
    box-shadow: inset 100vw 0 0 0 rgba(255, 8, 0, 0.63);
  }

  .social-links {
    display: none;
  }

  .social-links-mob {
    margin-top: 1rem;
    position: absolute;
    display: block;
  }

  .social-links-mob a {
    padding: 0px 1rem;
  }

  .home-container > h1 {
    background-size: cover;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .main-p-container > p {
    font-size: 0.9rem;
    padding: 0 2rem;
    margin-bottom: 3rem;
    line-height: 2;
  }

  .main-foot {
    margin: 0;
  }

  .calandar,
  .map {
    width: 95vw;
    height: 50vh;
  }
}

/* 
------------Utilities----------
*/
.flex-center {
  display: flex;
  justify-content: center;
}

/*   TESTING    */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(241, 241, 241);
  margin: 0.5rem;
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

.opac {
  opacity: 0.7;
}
/* .columns {
  columns: 4 250px;
  column-rule: 2px solid;
}

.box {
  height: 200px;
  width: 200px;
  background-color: burlywood;
  margin: auto;
} */
